* {
    margin: 0;
    color: white;
    cursor: url("https://cur.cursors-4u.net/toons/too-10/too977.png"), auto;
}

main {
    height: 100vh;
    overflow: hidden;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
    align-items: center;
}

.center-panel {
    width: 60%;
    background-color: rgb(177, 19, 19);
}

.side-panel {
    width: 20%;
    background-color: rgb(223, 31, 45);
}

.choice-card {
    background-color: rgba(68, 123, 190, .9);
}

.player-icons {
    font-size: 400%;
    margin-top: 15%;
}

.player-titles {
    font-size: 200%;
}

.player-scores {
    font-size: 150%;
}

.no-back {
    background: none;
    border: 0;
}

.choice-button {
    height: 150px;
    width: 300px;
    padding: 4%;
    font-size: 14px;
}

.shadow {
    box-shadow: 10px 10px 10px black;
}

.med-image {
    height: 150px;
    width: 150px;
}

.big-image {
    height: 400px;
    width: 400px;
}

.game-button {
    height: 8%;
    width: 75%;
}

.radius {
    border: 0;
    border-radius: 30%;
}

.split-height {
    height: 33%;
}

.list-margin {
    margin-left: -10%;
}

.small-top-marg {
    margin-top: 2%;
}

.big-top-marg {
    margin-top: 30%;
}

.small-bottom-marg {
    margin-bottom: 2%;
}

.med-bottom-marg {
    margin-bottom: 5%;
}

.big-bottom-marg {
    margin-bottom: 10%;
}

.title {
    font-size: 450%;
}

.text-center {
    text-align: center;
}

.iron-cursor {
    cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic3.cur"), auto;
}

.cap-cursor {
    cursor:  url("https://ani.cursors-4u.net/comics/mic-1/mic14.cur"), auto;
}

.thor-cursor {
    cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic12.cur"), auto;
}

.hulk-cursor {
    cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic17.cur"), auto;
}

.widow-cursor {
   cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic13.cur"), auto
}

button:hover {
    -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
    -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
    box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
}

.hidden {
    display: none;
}