* {
    margin: 0;
    color: white;
    cursor: url("https://cur.cursors-4u.net/toons/too-10/too977.png"), auto;
    font-family: Marvel;
}

main {
    height: 100vh;
    overflow: hidden;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
    align-items: center;
}

.center-panel {
    width: 60%;
    background-color: rgb(177, 19, 19);
}

.side-panel {
    width: 20%;
    background-color: rgb(223, 31, 45);
}

.choice-card {
    background-color: rgba(68, 123, 190, .9);
}

.player-icons {
    font-size: 400%;
    margin-top: 15%;
}

.player-titles {
    font-size: 200%;
}

.player-scores {
    font-size: 150%;
}

.no-back {
    background: none;
    border: 0;
}

.choice-btn {
    height: 150px;
    width: 300px;
    padding: 4%;
    font-size: 16px;
    font-weight: bold;
}

.shadow {
    box-shadow: 20px 20px 20px black;
}

.big-img {
    height: 400px;
    width: 400px;
}

.new-btn {
    height: 10%;
    width: 75%;
}

.radius {
    border: 0;
    border-radius: 20px;
}

.split-height {
    height: 33%;
}

.list-marg {
    margin-left: -10%;
}

.sml-top-marg {
    margin-top: 3%;
}

.lrg-top-marg {
    margin-top: 30%;
}

.sml-btm-marg {
    margin-bottom: 1%;
}

.med-btm-marg {
    margin-bottom: 5%;
}

.lrg-btm-marg {
    margin-bottom: 10%;
}

.title {
    font-size: 500%;
}

.title:hover {
    font-style: oblique;
    color:rgba(68, 123, 190, .9);
    text-shadow: -20px -20px 10px #000000;
}

.lrg-text {
    font-size: 200%;
}

.text-center {
    text-align: center;
}

.ironman {
    background: url("assets/ironman.png");
    cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic3.cur"), auto;
}

.captain {
    background: url("assets/captain.png");
    cursor:  url("https://ani.cursors-4u.net/comics/mic-1/mic14.cur"), auto;
}

.thor {
    background: url("assets/thor.png");
    cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic12.cur"), auto;
}

.hulk {
    background: url("assets/hulk.png");
    cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic17.cur"), auto;
}

.widow {
    background: url("assets/widow.png");
    cursor: url("https://ani.cursors-4u.net/comics/mic-1/mic13.cur"), auto;
}

.med-img {
    align-items: center;
    background-size: 150px;
    background-repeat: no-repeat;
    height: 180px;
    width: 150px;
    margin-bottom: -30px;
}

.choice-card:hover {
    -webkit-box-shadow: 0px 0px 200px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 200px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 200px 0px rgb(255, 255, 255);
}

.med-img:hover {
    opacity: 0.8;
}

.opacity {
    opacity: 0.3;
}

.visible {
    visibility: hidden;
}

.hidden {
    display: none;
}